# Servidor de PRUEBAS. Solo localhost.
server-ip=127.0.0.1
server-port=25690
online-mode=false
enforce-secure-profile=false
enable-rcon=true
rcon.port=25691
rcon.password=__RCON_PASSWORD__
level-name=test-world
level-type=minecraft\:flat
generator-settings={"layers"\:[{"block"\:"minecraft\:bedrock","height"\:1},{"block"\:"minecraft\:dirt","height"\:2},{"block"\:"minecraft\:grass_block","height"\:1}],"biome"\:"minecraft\:plains","structure_overrides"\:[]}
generate-structures=false
spawn-protection=0
max-players=10
view-distance=4
simulation-distance=4
difficulty=normal
gamemode=survival
motd=Purgatorio TEST
white-list=false
enable-command-block=true
